body {
   max-width: 1024px;
   background-image: url(werecat.jpg) ;
   background-size: 100%;
 }
 
 a {
  color: rgb(0, 0, 0); 
  background: rgb(255, 255, 255); 
  padding: 2px; 
  transition: 0.2s linear;
 }
 a:hover {
  color: rgb(0, 0, 0); 
  background: rgb(108, 213, 255); 
 }

 .objective {
  background: #c9c9c9; 
  color: rgb(0, 0, 0); 
 }
 
 .aboutMe {
   background: rgb(187, 223, 247);
 }

 ul {
   color: rgb(0, 148, 247);
 }

 .photo {
   width: 200px;
   height: 200px;
   border: 10px;
 }
