
body {
  max-width: 1024px;
  background-color: blanchedalmond ;
  font-family: "Roboto", "Minion Pro", Palatino, Georgia, Arial, serif;
    margin: 0 auto;
 padding: 40px;
  }
header {
 padding-bottom: 24px;
 border-bottom: 1px black solid;
 text-align: center;
}
h3, header {
   font-family: "Comfortaa", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  margin: 10px;
 color: rgb(0, 0, 0); 
 border-radius: 5px;
  box-shadow: 0 1px 5px blue;
}
a:hover {
box-shadow: inset 0 1px 20px red;
}
.objective {
 background: #fff1df; 
 padding: 7px; 
}
 ul {
  color: rgb(66, 66, 128);
  line-height: 25px;
}
.photo {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  box-shadow: 0 3px 20px;
}
.contacts {
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-decoration: none;
 font-size: 16px;
 margin: 10px 0;
}
.right-column{
 width: 30%;
}
.left-column {
 width: 70%;
}
.main-info {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 }
@media (max-width: 350px) {
 .main-info {
   flex-direction: column;
 }
 .right-column {
   order: 1;
 }
 .left-column {
   order: 2;
 }
}
@media (min-width: 350px) {
 .main-info {
   flex-direction: column;
 }
 .right-column {
   order: 1;
 }
 .left-column {
   order: 2;
 }
}
@media (min-width: 480px) {
   .main-info {
   flex-direction: row;
 }
 .right-column {
   padding-right: 20px;
 }
 .right-column {
   order: 2;
 }
 .left-column {
   order: 1;
 }
}
@media (min-width: 768px) {
 .main-info {
   flex-direction: row;
 }
}
